#nav {
  padding: 60px;


}

#container,
Nav.Link {


  font-size: 30px;
  text-align: center;
  justify-content: space-around;
  padding: 15px;
  margin-left: 20px;
  width: 100%;


}


#navlink,
a {
  margin-left: 50px;
}

#navlink {

  margin: auto;
  text-align: center;
}

#logo{
  font-size: 40px;
  font-weight: bolder;
}























@media (max-width:960px) {

  #container,
  Nav.Link {
    font-size: 30px;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
  }
}

@media (min-width:960px) {

  #container,
  Nav.Link {
    font-size: 30px;
    text-align: center;
    justify-content: space-around;
    padding: 15px;
  }
 
}